@import url('style_asciidoctor_orig.css');

body {
  color: #ffffff;
  background-color: #1b1b1b;
  font-family:"Noto Sans JP",YuGothicM,Meiryo,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","sans-serif";
}
a {
  color: #58a6ff;
}
